name: validate-examples
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - uses: actions/setup-opengl@v1.1
      with:
        go-version: stable
    - run: make validate-examples
